.application {
  position: relative;
  padding: 70px 25px 0 25px;

  &::before {
    content: "";
    position: absolute;
    width: 343px;
    height: 345px;
    background-image: url("../img/application.svg");
    background-repeat: no-repeat;
    background-position: 10px center;

  }
}

.application__link {
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $red;
  width: 300px;
  height: 80px;
  border-radius: 20px;
  margin: 405px auto 0 auto;
  box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
  transition: 0.5s;

  &:hover,
  &:focus {
    transform: scale(1.05);
    transition: 0.5s;
  }
}

@media (min-width: $tabletW) {
  .application {
    padding: 150px 45px;

    &::before {
      top: 40px;
    }
  }

  .application__link {
    width: 270px;
    height: 60px;
    margin: 60px 0 0 auto;
  }
}
