.main-nav {
  padding-top: 44px;
}

.main-nav__logo {
  display: block;
  width: 318px;
  height: 77px;
  background: url("../img/logo.svg") no-repeat;
  background-size: cover;
  transition: 0.5s;

  &:hover,
  &:focus {
    opacity: 0.8;
    transition: 0.5s;
  }
}

.main-nav__link-block {
  display: none;
}

@media (min-width: $tabletW) {
  .main-nav {
    display: flex;
    justify-content: space-between;
  }

  .main-nav__logo {
    width: 256px;
    height: 62px;
  }

  .main-nav__link-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 260px;
  }

  .main-nav__link {
    font-weight: 700;
    text-decoration: none;
    color: $green;
    display: inline-block;

    &--telegram {
      width: 35px;
      height: 25px;
      background: url("../img/telegram.svg") no-repeat;
      background-size: cover;
    }

    &--mail {
      width: 35px;
      height: 25px;
      background: url("../img/mail.svg") no-repeat;
      background-size: cover;
    }
  }
}

@media (min-width: $desktopW) {
  .main-nav {
    padding-top: 46px;
  }

  .main-nav__link-block {
    justify-content: flex-start;
    width: 368px;
  }

  .main-nav__link {
    &--telegram {
      width: 46px;
      height: 35px;
    }

    &--mail {
      width: 46px;
      height: 35px;
      margin-left: 57px;
      margin-right: 85px;
    }

    &--phone {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: -8px;
        left: -30px;
        width: 18px;
        height: 32px;
        background-image: url("../img/phone.svg");
        background-repeat: no-repeat;
      }
    }
  }
}
