.order {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  padding-left: 25px;
  padding-right: 25px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 110px;
    background-color: $green;
  }
}

.order__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.order__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  width: 248px;
  height: 345px;
  background: $project-bg;
  border-radius: 30px;

  &:not(:first-of-type) {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: -60px;
    width: 170px;
    height: 170px;
    background-color: $green;
    border-radius: 50%;
  }

  h4 {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: $green;
    margin: 0;
  }

  p {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-bottom: 32px;
  }

  a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $red;
    width: 207px;
    height: 62px;
    border-radius: 20px;
    margin-bottom: 22px;
    box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
    transition: 0.5s;

    &:hover,
    &:focus {
      transform: scale(1.05);
      transition: 0.5s;
    }
  }

  &:first-of-type {
    &::before {
      background-image: url("../img/ecom.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &:nth-of-type(2) {
    &::before {
      background-image: url("../img/saas.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &:nth-of-type(3) {
    &::before {
      background-image: url("../img/mob-app.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.order__button {
  width: 17px;
  height: 22px;
  background: transparent url("../img/mobile/arrow.svg") no-repeat;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;

  &--previus {
    transform: rotate(180deg);
  }

  &--next {
    transform: rotate(0);
  }
}

@media (min-width: $tabletW) {
  .order {
    padding-left: 45px;
    padding-right: 45px;
  }

  .order__list {
    width: 100%;
    justify-content: space-around;
  }
  .order__item {
    width: 200px;
    height: 300px;

    &:not(.order__list) {
      display: flex;
    }

    &::before {
      width: 135px;
      height: 135px;
    }

    h4 {
      font-size: 20px;
    }

    a {
      width: 180px;
    }
  }

  .order__button {
    display: none;
  }
}
