.container {
  width: 330px;
  padding: 0 25px;
  margin: 0 auto;

  @media (min-width: $tabletW) {
    width: 630px;
    padding: 0 45px;
  }

  @media (min-width: $desktopW) {
    width: 1080px;
    padding: 0 100px;
  }
}
