// widths
$desktopW: 1280px;
$tabletW: 720px;

// colors
$white: #ffffff;
$bg: #f8ffff;
$black: #000000;
$brown: #3c3c3c;
$red: #f05670;
$green: #1e959b;
$project-bg: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
